{% extends "templates/web.html" %}

{% block page_content %}

<!-- <h1>{{ title }}</h1> -->
<div class="card">
    <h5 class="card-header">{{doc.shop_name}}</h5>
    <div class="card-body">
      <h5 class="card-title">{{doc.airport}}</h5>
      <p class="card-text">Area : {{doc.area}} Sq ft.</p>
      <p class="card-text">{{doc.status}}</p>
      <a href="http://192.168.2.137:8003/book-shop/new?shop={{ doc.name }}" class="btn btn-primary">I'm interested in this shop</a>
    </div>
  </div>
{% endblock %}

<!-- this is a sample default web page template -->